<h3 style="color: #001b30;">Moments</h3>
<ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>
<nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{
        column.title }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of sortTable.data; let i = index">
      <td>{{ i + 1 }}</td>
      <td><img [src]="'http://localhost:8080/public/moments/' + data?.fileName" alt=""></td>
      <td>{{ data?.title }}</td>
      <td>{{ data?.tags.join(",") }}</td>
      <td><i nz-icon nzType="edit" nzTheme="outline" style="
        font-size: 1.3vw;
        padding-right: 1vw;
    "></i><i nz-icon nzType="delete" nzTheme="outline" (click)="deleteItem(data._id)" style="
      font-size: 1.3vw;
      padding-right: 1vw;
  "></i></td>
    </tr>
  </tbody>
</nz-table>